<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="DefaultConnection"
    connectionString="Server=(localdb)\ProjectModels;Initial Catalog=SELab;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;"
    providerName="System.Data.SqlClient" />
	</connectionStrings>



	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
	</appSettings>

	<system.web>
		<compilation debug="true" targetFramework="4.7.2" />
		<httpRuntime targetFramework="4.7.2" />
	</system.web>

	<system.serviceModel>
		<services>
			<service name="YourNamespace.UserService">
				<endpoint address=""
        binding="basicHttpBinding"
        contract="YourNamespace.IUserService" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:54233/UserService.svc" />
					</baseAddresses>
				</host>
			</service>
		</services>

		<bindings>
   <basicHttpBinding>
    <binding name="BasicHttpBinding_IUserService" />
    <binding name="BasicHttpBinding_IService1" />
   </basicHttpBinding>
  </bindings>

		<client>
   <endpoint address="http://localhost:54233/UserService.svc" binding="basicHttpBinding"
    bindingConfiguration="BasicHttpBinding_IUserService" contract="ServiceReference1.IUserService"
    name="BasicHttpBinding_IUserService" />
   <endpoint address="http://localhost:54233/Service1.svc" binding="basicHttpBinding"
    bindingConfiguration="BasicHttpBinding_IService1" contract="ServiceReference1.IService1"
    name="BasicHttpBinding_IService1" />
  </client>

		<behaviors>
			<serviceBehaviors>
				<behavior>
					<!-- Enable Metadata for testing -->
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
					<!-- Include Exception Details -->
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>

		<protocolMapping>
			<add binding="basicHttpsBinding" scheme="https" />
		</protocolMapping>

		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
	</system.serviceModel>

	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />
		<directoryBrowse enabled="true" />
	</system.webServer>
</configuration>
